
#wb_header { height: 50px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 1450px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 100px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x left top; background-size: auto auto; }
body { background: #232830 url("../gallery_gen/2ef9068ea16f0bb2f476ec2ba6334d02.png") no-repeat scroll right top; }
.wb_sbg { background: transparent url("../gallery_gen/2d0e3a7aaf9a6df4970967d21187f5ce.png") repeat-x scroll center top; }
body, .wb_sbg { min-width: 320px; min-height: 1600px; }
.wb_cont_inner { width: 320px; height: 100%; }
.wb_cont_bg { width: 320px; margin-left: -160px; }
.root { height: 1550px; overflow: hidden; min-height: 1600px; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 0px; background-color: #cc6b51; border-color: #ffffff; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #cc6b51; border-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 { top: 10px; left: 10px; min-width: 300px; width: 300px; min-height: 29px; height: 29px; display: block; z-index: 840; }
#wb_element_instance0 ul { background: #cc6b51 none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: left; }
#wb_element_instance0 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 15px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 15px 30px 15px 30px; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent url('../gallery/next%20%281%29-ts1470836148.png') no-repeat scroll left center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 16px Tahoma,Geneva,sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent url('../gallery/next%20%281%29-ts1470836148.png') no-repeat scroll left center; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 20px; left: 220px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; z-index: 707; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance2 { top: 20px; left: 10px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 647; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { top: 180px; left: 30px; min-width: 260px; width: 260px; min-height: 96px; height: 96px; display: block; z-index: 523; }
#wb_element_instance4 { top: 674px; left: 135px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; z-index: 527; }
#wb_element_instance4 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance5 { top: 630px; left: 10px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: block; z-index: 528; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_element_instance6 { top: 374px; left: 10px; min-width: 300px; width: 300px; min-height: 83px; height: 83px; display: block; z-index: 529; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance7 { top: 477px; left: 25px; min-width: 270px; width: 270px; min-height: 133px; height: 133px; display: block; z-index: 537; }
#wb_element_instance8 { top: 0px; left: 85px; min-width: 150px; width: 150px; min-height: 160px; height: 160px; display: block; z-index: 526; }
#wb_element_instance8 img { width: 150px; height: 160px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance9 { top: 296px; left: 10px; min-width: 300px; width: 300px; min-height: 58px; height: 58px; display: block; z-index: 538; }
#wb_element_instance10 { top: 744px; left: 40px; min-width: 240px; width: 240px; min-height: 50px; height: 50px; display: block; z-index: 539; }
#wb_element_instance10 .wb_button { width: 240px; height: 50px; font-family: Arial,Helvetica,sans-serif; font-size: 20px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #49ebe3; font-style: normal; font-weight: normal; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance10 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance10 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance11 { top: 814px; left: 5px; min-width: 310px; width: 310px; min-height: 49px; height: 49px; display: block; z-index: 541; }
#wb_element_instance12 { top: 890px; left: 20px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; z-index: 542; }
#wb_element_instance12 .wb_button { width: 120px; height: 80px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #3ae8df; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance12 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance12 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance13 { top: 990px; left: 170px; min-width: 130px; width: 130px; min-height: 80px; height: 80px; display: block; z-index: 543; }
#wb_element_instance13 .wb_button { width: 130px; height: 80px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 0px none #262026; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #42e7ed; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance13 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance13 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance14 { top: 990px; left: 20px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; z-index: 544; }
#wb_element_instance14 .wb_button { width: 120px; height: 80px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #3bebeb; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance14 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance14 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance15 { top: 890px; left: 170px; min-width: 130px; width: 130px; min-height: 80px; height: 80px; display: block; z-index: 545; }
#wb_element_instance15 .wb_button { width: 130px; height: 80px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #59edf2; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance15 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance15 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance16 { top: 1290px; left: 10px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; z-index: 546; }
#wb_element_instance16 .wb_button { width: 120px; height: 60px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #4cdaed; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance16 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance16 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance17 { top: 1290px; left: 180px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; z-index: 547; }
#wb_element_instance17 .wb_button { width: 120px; height: 60px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #6fdef2; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance17 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance17 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance18 { top: 1110px; left: 90px; min-width: 130px; width: 130px; min-height: 60px; height: 60px; display: block; z-index: 548; }
#wb_element_instance18 .wb_button { width: 130px; height: 60px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #41ebeb; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance18 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance18 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance19 { top: 1200px; left: 90px; min-width: 130px; width: 130px; min-height: 60px; height: 60px; display: block; z-index: 549; }
#wb_element_instance19 .wb_button { width: 130px; height: 60px; font-family: Times New Roman,Times,serif; font-size: 16px; text-align: center; border: 1px none #cccccc; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; color: #43dbe0; font-style: normal; font-weight: bold; text-decoration: none; background: transparent none repeat left top; }
#wb_element_instance19 .wb_button:hover { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance19 .wb_button:active { color: #333333; font-style: normal; font-weight: normal; text-decoration: none; background: #e6e6e6 none repeat left top; }
#wb_element_instance20 { top: 1370px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance21 { top: 64px; left: 0px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 50px; }
	#wb_main { height: 1320px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 768px; min-height: 1470px; }
	.wb_cont_inner { width: 768px; }
	.wb_cont_bg { width: 768px; margin-left: -384px; }
	.root { height: 1420px; overflow: visible; min-height: 1470px; }
	#wb_element_instance0 { top: 0px; left: 0px; min-width: 760px; width: 760px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 20px; left: 660px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { top: 20px; left: 20px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { top: 150px; left: 350px; min-width: 350px; width: 350px; min-height: 128px; height: 128px; display: block; }
	#wb_element_instance4 { top: 820px; left: 360px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance4 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 790px; left: 20px; min-width: 730px; width: 730px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance6 { top: 530px; left: 150px; min-width: 400px; width: 400px; min-height: 117px; height: 117px; display: block; }
	#wb_element_instance7 { top: 680px; left: 20px; min-width: 730px; width: 730px; min-height: 53px; height: 53px; display: block; }
	#wb_element_instance8 { top: 90px; left: 40px; min-width: 300px; width: 300px; min-height: 310px; height: 310px; display: block; overflow: hidden; }
	#wb_element_instance8 img { width: 300px; height: 311px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance9 { top: 460px; left: 10px; min-width: 740px; width: 740px; min-height: 49px; height: 49px; display: block; }
	#wb_element_instance10 { top: 900px; left: 270px; min-width: 240px; width: 240px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance10 .wb_button { width: 240px; height: 50px; }
	#wb_element_instance11 { top: 970px; left: 50px; min-width: 480px; width: 480px; min-height: 25px; height: 25px; display: block; }
	#wb_element_instance12 { top: 1030px; left: 40px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 .wb_button { width: 120px; height: 80px; }
	#wb_element_instance13 { top: 1030px; left: 220px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance13 .wb_button { width: 120px; height: 80px; }
	#wb_element_instance14 { top: 1030px; left: 400px; min-width: 130px; width: 130px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance14 .wb_button { width: 130px; height: 80px; }
	#wb_element_instance15 { top: 1020px; left: 580px; min-width: 150px; width: 150px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance15 .wb_button { width: 150px; height: 80px; }
	#wb_element_instance16 { top: 1160px; left: 40px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance16 .wb_button { width: 120px; height: 60px; }
	#wb_element_instance17 { top: 1160px; left: 220px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance17 .wb_button { width: 120px; height: 60px; }
	#wb_element_instance18 { top: 1160px; left: 400px; min-width: 130px; width: 130px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance18 .wb_button { width: 130px; height: 60px; }
	#wb_element_instance19 { top: 1160px; left: 580px; min-width: 140px; width: 140px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance19 .wb_button { width: 140px; height: 60px; }
	#wb_element_instance20 { top: 1370px; left: 0px; display: block; }
	#wb_element_instance21 { top: 64px; left: 0px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 50px; }
	#wb_main { height: 1330px; }
	#wb_footer { height: 60px; }
	body, .wb_sbg { min-width: 992px; min-height: 1440px; }
	.wb_cont_inner { width: 992px; }
	.wb_cont_bg { width: 992px; margin-left: -496px; }
	.root { height: 1390px; overflow: visible; min-height: 1440px; }
	#wb_element_instance0 { top: 0px; left: 40px; min-width: 950px; width: 950px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 20px; left: 890px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { top: 20px; left: 20px; min-width: 247px; width: 247px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { top: 150px; left: 430px; min-width: 440px; width: 440px; min-height: 159px; height: 159px; display: block; }
	#wb_element_instance4 { top: 790px; left: 460px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance4 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 740px; left: 20px; min-width: 950px; width: 950px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance6 { top: 340px; left: 350px; min-width: 620px; width: 620px; min-height: 86px; height: 86px; display: block; }
	#wb_element_instance7 { top: 620px; left: 20px; min-width: 950px; width: 950px; min-height: 53px; height: 53px; display: block; }
	#wb_element_instance8 { top: 150px; left: 30px; min-width: 300px; width: 300px; min-height: 311px; height: 311px; display: block; }
	#wb_element_instance8 img { width: 300px; height: 311px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance9 { top: 520px; left: 20px; min-width: 950px; width: 950px; min-height: 64px; height: 64px; display: block; }
	#wb_element_instance10 { top: 860px; left: 360px; min-width: 240px; width: 240px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance10 .wb_button { width: 240px; height: 50px; }
	#wb_element_instance11 { top: 950px; left: 110px; min-width: 840px; width: 840px; min-height: 25px; height: 25px; display: block; }
	#wb_element_instance12 { top: 1040px; left: 120px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 .wb_button { width: 120px; height: 80px; }
	#wb_element_instance13 { top: 1040px; left: 310px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance13 .wb_button { width: 120px; height: 80px; }
	#wb_element_instance14 { top: 1040px; left: 520px; min-width: 130px; width: 130px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance14 .wb_button { width: 130px; height: 80px; }
	#wb_element_instance15 { top: 1040px; left: 730px; min-width: 150px; width: 150px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance15 .wb_button { width: 150px; height: 80px; }
	#wb_element_instance16 { top: 1170px; left: 120px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance16 .wb_button { width: 120px; height: 60px; }
	#wb_element_instance17 { top: 1170px; left: 310px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance17 .wb_button { width: 120px; height: 60px; }
	#wb_element_instance18 { top: 1170px; left: 520px; min-width: 130px; width: 130px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance18 .wb_button { width: 130px; height: 60px; }
	#wb_element_instance19 { top: 1170px; left: 740px; min-width: 140px; width: 140px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance19 .wb_button { width: 140px; height: 60px; }
	#wb_element_instance20 { top: 1370px; left: 0px; display: block; }
	#wb_element_instance21 { top: 64px; left: 0px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 50px; }
	#wb_main { height: 1330px; }
	#wb_footer { height: 100px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1480px; }
	.wb_cont_inner { width: 1200px; }
	.wb_cont_bg { width: 1200px; margin-left: -600px; }
	.root { height: 1430px; overflow: visible; min-height: 1480px; }
	#wb_element_instance0 { top: 1px; left: 100px; min-width: 1100px; width: 1100px; min-height: 48px; height: 48px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { top: 20px; left: 1080px; min-width: 100px; width: 100px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { top: 20px; left: 30px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance3 { top: 120px; left: 520px; min-width: 470px; width: 470px; min-height: 191px; height: 191px; display: block; }
	#wb_element_instance4 { top: 770px; left: 570px; min-width: 50px; width: 50px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance4 img { width: 50px; height: 50px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance5 { top: 710px; left: 20px; min-width: 1140px; width: 1140px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance6 { top: 490px; left: 240px; min-width: 790px; width: 790px; min-height: 86px; height: 86px; display: block; }
	#wb_element_instance7 { top: 620px; left: 50px; min-width: 1140px; width: 1140px; min-height: 27px; height: 27px; display: block; }
	#wb_element_instance8 { top: 90px; left: 130px; min-width: 300px; width: 300px; min-height: 311px; height: 311px; display: block; }
	#wb_element_instance8 img { width: 300px; height: 311px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance9 { top: 330px; left: 450px; min-width: 640px; width: 640px; min-height: 77px; height: 77px; display: block; }
	#wb_element_instance10 { top: 840px; left: 480px; min-width: 240px; width: 240px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance10 .wb_button { width: 240px; height: 50px; }
	#wb_element_instance11 { top: 950px; left: 110px; min-width: 840px; width: 840px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance12 { top: 1040px; left: 120px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance12 .wb_button { width: 120px; height: 80px; }
	#wb_element_instance13 { top: 1040px; left: 310px; min-width: 120px; width: 120px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance13 .wb_button { width: 120px; height: 80px; }
	#wb_element_instance14 { top: 1040px; left: 520px; min-width: 130px; width: 130px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance14 .wb_button { width: 130px; height: 80px; }
	#wb_element_instance15 { top: 1040px; left: 730px; min-width: 150px; width: 150px; min-height: 80px; height: 80px; display: block; }
	#wb_element_instance15 .wb_button { width: 150px; height: 80px; }
	#wb_element_instance16 { top: 1170px; left: 120px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance16 .wb_button { width: 120px; height: 60px; }
	#wb_element_instance17 { top: 1170px; left: 310px; min-width: 120px; width: 120px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance17 .wb_button { width: 120px; height: 60px; }
	#wb_element_instance18 { top: 1170px; left: 520px; min-width: 130px; width: 130px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance18 .wb_button { width: 130px; height: 60px; }
	#wb_element_instance19 { top: 1170px; left: 740px; min-width: 140px; width: 140px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance19 .wb_button { width: 140px; height: 60px; }
	#wb_element_instance20 { top: 1370px; left: 0px; display: block; }
	#wb_element_instance21 { top: 64px; left: 0px; display: block; }
}
